<form [formGroup]="formGroup">
  <input type="number" formControlName="giveAmount" (input)="onControlChanged(prefixesEnum.GIVE)"/>
  <select formControlName="giveCurrencyCode" (change)="onControlChanged(prefixesEnum.GIVE)">
    <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
  </select>
  <input type="number" formControlName="takeAmount" (input)="onControlChanged(prefixesEnum.TAKE)"/>
  <select formControlName="takeCurrencyCode" (change)="onControlChanged(prefixesEnum.TAKE)">
    <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
  </select>
</form>
