<form [formGroup]="formGroup" class="form">
  <div class="form__field field">
    <input
      type="number"
      formControlName="giveAmount"
      (input)="onControlChanged(prefixesEnum.GIVE)"
      class="field__input"
    />

    <select
      formControlName="giveCurrencyCode"
      (change)="onControlChanged(prefixesEnum.GIVE)"
      class="field__select"
    >
      <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
    </select>
  </div>
  <div class="form__field field">
    <input
      type="number"
      formControlName="takeAmount"
      (input)="onControlChanged(prefixesEnum.TAKE)"
      class="field__input"
    />
    <select
      formControlName="takeCurrencyCode"
      (change)="onControlChanged(prefixesEnum.TAKE)"
      class="field__select"
    >
      <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
    </select>
  </div>
</form>
